<h1>New Post</h1>

<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.label :title, 'Post Title:' %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description, 'Post Description:' %><br>
    <%= f.text_area :description %>
  </div>


  <br/>
  <span>Categories:</span>
  <%= f.collection_select :category_name, Category.all, :id, :category_name %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
